/**
 * Search input
 */

 .finder
 {
     position: relative;
     width: 100%;
     margin: 0 0 1.3em 0;
     &__input
     {
        background-color: rgba($gray-cc, 0.2);
        width: 100%;
        height: 3em;
        padding: 1em 1em 1em 3em;  
        border-radius: 0.45em;
        border: none;
        @include text(1.16em, 1em, 0, 0,$family: $bodyFont__family,  $color: $gray-a5, $weight: 300);
        @include prefix(( 
            display: flex,
            align-items: center,
            justify-content: flex-start
        ), webkit moz o ms);
        &:hover, &:focus, &:active 
        {
            background-color: rgba($gray-cc, 0.3);
            color: $gray-72
        }
     }
     &__icon
     {
         position: absolute;
         top: 1em;
         left: 1em;
         width: 1.16em;
         height: 1.16em;
         font-size: 1.16em;
         color: $yellow-2;
         @include prefix(( 
            display: flex,
            align-items: center,
            justify-content: center
        ), webkit moz o ms);
     }
 }