// =============================================================================
// Import prefixes - mixin
// =============================================================================

@import '../prefixes/prefixes.scss';

// =============================================================================
// Size - variables
// =============================================================================

$font__size: 12px !default;
$font__base: 14px !default;

// =============================================================================
// Font family - variables
// =============================================================================

$bodyFont__family: "Mont";
$headingsFont__family: "Avenir";

// =============================================================================
// Color variables
// =============================================================================

// Grayscale
$gray-72: #727272;
$gray-a5: #a5a5a5;
$gray-cc: #cccccc;
$white-fe: #fefefe;

// yellow
$yellow: #fbc300;
$yellow-2: #e5ae00;
$yellow-3: #ffc933;
$yellow-4: #ffd366;
$yellow-5: #ffe299;

// darkyellow
$darkyellow: #e39f0b;
$darkyellow-2: #cc8800;
$darkyellow-3: #ffac1a;
$darkyellow-4: #ffbf4d;
$darkyellow-5: #ffd180;

// orange
$orange: #fd980d;
$orange-2: #e57d00;
$orange-3: #ffaa4d;
$orange-4: #ffbf80;
$orange-5: #ffd7b3;

// =============================================================================
// Gradient mixin
// =============================================================================

@mixin verticalGradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}