/**
 * Main tool Bar
 */

 .toolBar
 {
     width: 100%;
     margin: 3em 0 2em 0;
     height: 2em;
     @include prefix(( 
		display: flex,
		align-items: center,
		justify-content: space-between
    ), webkit moz o ms);
    &__button
    {
        width: 2em;
        height: 2em;
        border: none;
        background-color: transparent;
        position: relative;
        @include prefix(( 
            display: flex,
            align-items: center,
            justify-content: center
        ), webkit moz o ms);
        .label
        {
            color: $gray-72;
            font-size: 1.85em;
        }
        .indicator
        {
            width: 1.5em;
            height: 1.5em;
            border-radius: 50%;
            position: absolute;
            top: 0.4em;
            left: -0.3em;
            padding-top: 0.2em;
            background-color: $yellow;
            @include text(0.8em, 0, 0, 0,$family: $headingsFont__family,  $color: $white-fe, $weight: 500);
            @include prefix(( 
                display: flex,
                align-items: center,
                justify-content: center
            ), webkit moz o ms);
        }
    }
    &__title
    {
        width: 100%;
        height: 1.33em;
        padding-top: 0.3em;
        @include text(1.45em, 0, 0, 0,$family: $headingsFont__family,  $color: $gray-72, $weight: 500);
        @include prefix(( 
            display: flex,
            align-items: center,
            justify-content: center
        ), webkit moz o ms);
    }
 }